@import '../base/mixins.scss';

.area {

  .placeholder {
    height: 80px;
    background-color: #fff;
  }

  .heat-map {
    min-height: 100vh;
    background-color: rgb(255, 204, 204);
  }

  .operates {
    position: absolute;
    width: 200px;
    top: 150px;
    left: 95px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: $basic-shadow;
    border-radius: 2px;

    .el-button {
      width: 150px;
      margin: 10px 0;
    }
  }

  .modal {
    width: 400px;
    height: 500px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, .5);
    transition: all 1s;
    padding: 15px;
    box-shadow: $basic-shadow;
    border-radius: 2px;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: #555555;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(216, 216, 216);
    }

    .close {
      position: absolute;
      top: 4px;
      right: 13px;
      transform: rotate(45deg);
      font-size: 30px;
      cursor: pointer;
    }
  }
}