@import '../base/mixins.scss';

.city {
  display: flex;

  .section-a {
    padding-top: 80px;
    position: relative;
    flex: 5 0;
    height: 100vh;

    .city-info {
      position: absolute;
      width: 90%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255);
      box-shadow: $basic-shadow;
      bottom: 20px;
      left: 50%;
      margin-left: -45%;
      padding: 0 20px;

      .score {
        height: 55px;
        display: flex;
        align-items: center;
        font-size: 20px;
        border-bottom: 1px solid rgb(226, 226, 226);
      }

      .notice {
        height: 55px;
        display: flex;
        align-items: center;
      }

      span {
        color: #f00;
      }
    }
  }

  .section-b {
    flex: 2 0;
    height: 100vh;
    padding: 20px;
    overflow: scroll;

    .city-name {
      height: 40px;
      text-align: right;
      line-height: 40px;
      font-size: 20px;
      padding-right: 20px;
      font-weight: bold;
    }

    .words-cloud {
      margin-top: 20px;
      min-height: 32%;
      background-color: rgb(253, 220, 220);
    }

    .desc {
      min-height: 10%;
      padding: 8px 0;
      font-size: 14px;
      line-height: 25px;

      .title {
        font-size: 16px;
        line-height: 30px;
        font-weight: bold;
      }

      p {
        color: #838383;
      }
    }

    .hot-scenes {
      min-height: 32%;

      .title {
        line-height: 30px;
        font-weight: bold;
      }
    }

    .nav {
      color: rgb(47, 97, 189);
      cursor: pointer;
    }
  }
}