@import '../base/mixins';
@import '../base/var';

.scene_detail {
  display: flex;
  flex-direction: column;
  
  section {
    height: 300px;
    // background-color: rgb(255, 160, 160);
    display: flex;

    .scene {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: rgb(199, 255, 218);

      .image {
        width: 350px;
        height: 220px;
        background-color: rgb(253, 169, 169);
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      // .image:hover {
      //   box-shadow: 0 0 10px rgb(114, 114, 114);
      //   width: 355px;
      //   height: 225px;
      //   transition: .5s;
      // }
    }

    .desc {
      flex: 5;
      // background-color: rgb(255, 217, 199)
      padding: 40px 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        padding-left: 10px;
        font-size: 18px;
        margin-top: 10px;
        line-height: 28px;
      }
    }

    .info {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      .box {
        width: 180px;
        height: 200px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 15px;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

        li {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f00;
          font-size: 35px;

          svg {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
        }

        li:first-child {
          border-bottom: 8px solid #d8e6eb;
        }
      }
    }
  }

  .data-charts {
    height: 370px;
    // background-color: rgb(175, 210, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .chart {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .chart1 {
      width: 450px;
      height: 270px;
      // background-color: rgb(255, 204, 204);
    }

    .chart2 {
      width: 450px;
      height: 320px;
      // background-color: rgb(255, 204, 204);
    }

    .chart3 {
      width: 450px;
      height: 270px;
      // background-color: rgb(255, 204, 204);
    }
  }
}