@import '../base/mixins.scss';

.navbar {
  position: absolute;
  z-index: 10000;
  width: calc(100% * 5/7 - 29px);
  height: 80px;
  // left: 50px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);

  .navs {
    display: flex;
  
    li {
      width: 90px;
      height: 40px;
      box-sizing: border-box;
      background-color: #fff;
      border-left: 1px solid rgb(167, 166, 252);
      border-top: 1px solid rgb(167, 166, 252);
      border-bottom: 1px solid rgb(167, 166, 252);
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
  
    li:first-child {
      border-radius: 7px 0 0 7px;
    }
  
    li:last-child {
      border-radius: 0 7px 7px 0;
      border-right: 1px solid rgb(167, 166, 252);
    }

    .active {
      color: #fff;
      background-color: rgb(130, 128, 255);
      transition: all .5s;
    }
  }
  
  .search {
    width: 400px;
  }
}